@font-face {
    font-family: 'Pokemon';
    src: url(fonts/Pokemon\ Solid.ttf) format(truetype);
}

body {
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    background-color: rgba(123, 171, 88, 0.134);
    padding: 3px;
    align-items: center;
}

.header img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    transform: rotate(240deg);
    margin-left: 10px;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: white;
    font-family: 'Pokemon';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
