.pokemon-sidebar-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 161, 161);
    height: 5px;
    width: 250px;
    height: 100%;
    padding: 5px 10px;
}

.pokemon-sidebar-names-container {
    background-color: tomato;
    color: white;
    padding: 0px 10px;
    width: 100%;
    border-radius: 15px;
}