@font-face {
  font-family: "Pokemon";
  src: url("../fonts/Pokemon Solid.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon_Hollow";
  src: url("../fonts/Pokemon Hollow.ttf") format("truetype");
}
@keyframes flipCard {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg); 
  }
}


* {
  padding: 0px;
  margin: 0px;
}
body {
  overflow-y: hidden;
  
}
.header {
  display: flex;
  background-color: rgb(123, 171, 88);
  padding: 3px;
  align-items: center;
}

.header img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  transform: rotate(240deg);
  margin-left: 10px;
  margin-right: 5px;
}

.header a {
  text-decoration: none;
  color: white;
  font-family: "Pokemon", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  overflow-y: hidden;
}
.side-bar-container {
  display: flex;
  border: 1px black solid;
  background-color: rgba(255, 252, 48, 0.538);
  height: 100vh;
  justify-content: center;
  padding: 5px;
  width: 300px;
  font-family: 'Pokemon';
}
.side-bar-container button {
  height: 50px;
  width: 100%;
  background-color: orange;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  font-family: 'Pokemon';

}
.contents {
  width: 90%;
  overflow-y: auto;
  scrollbar-color: #ffffff #ffff00;
  padding-bottom: 80px;
}
.side-bar-container img {
  width: 40px;
  height: 40px;
}
.main-content-container {
  color: white;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.card-container {
  width: 300px;
  height: 400px;
  perspective: 1000px;
} 

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;

}

.card-container:hover .card-inner {
  animation: flipCard 0.8s forwards;
}

.card-front, .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
}

.card-back img {
  border-radius: 20px;
}

.card-front img {
  width: 100%;
  height: 100%;
}

.back-image {
  width: 100%;
  height: 30%;
  margin-bottom: 120px;
}

.card-back {
  background-color: rgb(227, 227, 72);
  transform: rotateY(180deg);
  padding: 10px;
  color: black;
}

.names-baliwRating  {
  font-family: 'Pokemon';
  letter-spacing: 2px;
}
